body {
  background-color: #252120;
  width: 100%;
}

header {
  text-align: center;
  background-color: black;
}

h1{
  font-family: sans-serif;
  color: #F0F0F0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(13, fr1);
  grid-template-rows: repeat(6, fr1);
  grid-gap: 10px;
  grid-auto-flow: column;

}

#a {
  background-color: red;
  grid-area: 1 / 1;
}

#b {
  background-color: blue;
}

#input_message {
  width:5px;
}
